@import '../../variables.scss';

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.welcome {
  text-align: center;
  margin: 0 1rem 5rem;

  @include desktop {
    position: fixed;
    top: 20%;
  }
}

.title {
  font-size: 4rem;

  @include desktop {
    font-size: 4.5rem;
  }
}

.subtitle {
  margin-top: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.35rem;
}

.btn {
  letter-spacing: 0.35rem;
}
